<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE xml>
<configuration>
    <timestamp key="timestamp" datePattern="yyyyMMdd"/>

    <property name="LOG_LEVEL" value="debug"/>

    <springProperty scope="context" name="MODULE_NAME" source="spring.application.name"/>

    <property name="DEBUG_LOG_DIR" value="/var/log/redcloud/debug/"/>

    <!--    <appender name="DEBUG_LOG_FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>${DEBUG_LOG_DIR}/debug.log</file>-->
    <!--        <encoder>-->
    <!--            <charset>UTF-8</charset>-->
    <!--            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %-3level [SVMNG] [%t] [%logger:%method:%line] - %msg%n%ex{full}</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <appender name="DEBUG_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEBUG_LOG_DIR}/${MODULE_NAME}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${DEBUG_LOG_DIR}/${MODULE_NAME}/logs/application.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %-3level [SVMNG] [%t] [%logger:%method:%line]
                - %msg%n%ex{full}
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %-3level [MS] [%t] [%logger:%method:%line] -
                %msg%n%ex{full}
            </pattern>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="${LOG_LEVEL}"/>

    <logger name="com.supertappo" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="DEBUG_LOG_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="DEBUG_LOG_FILE" />
    </root>

</configuration>
